.navbar{
    height: 5rem;
}
.icon{
    position: relative;
    z-index: 2 !important;
}
.log-out{
    z-index: -1 !important;
    height: 50%;
    min-width: 100%;
    right: 40%;
    top: 50%;
    display: none;
    transform: translate(-50%,-50%);
    animation: appear 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes appear {
    0%{
        right:0%
    }
    100%{
        right: 40%;
    }
}
.icon:hover{
    .log-out{
        display: block;

    }
}
.log-out:hover{
    color: tomato;
}
