*{
  font-family: "Outfit", sans-serif !important;
  padding: 0;
  margin: 0;
}
body{
  max-height: 100vh !important;
  background-color: #fcfcfc;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
hr{
  border: none !important;
  height: 1px !important;
  background-color: #a9a9a9;

}
.app{
  width: 90%;
}